# fwrap default logging configuration

# ----------------------------------------------------------------------------
#  This section defines the names of the loggers, handlers and formatters
#

# These are the names of the different loggers
[loggers] 
keys=root,fwrap

# These are the names of the different handlers that we will setup later
[handlers]
keys=file,console,syslog

# These are the formatters used for the formatters, here we only define one
# but multiple may be defined for different tasks
[formatters]
keys=default,detailed

# ----------------------------------------------------------------------------
#  Logger settings
#
[logger_root]
level=DEBUG                             
handlers=file,console

[logger_fwrap]
level=NOTSET
propagate=0
qualname=fwrap
handlers=file,console
channel=fwrap
parent=(root)

# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#  Handlers
#
[handler_file]
class=FileHandler
level=DEBUG
formatter=detailed
args=('fwrap.log','w')

[handler_console]
class=StreamHandler
level=INFO
formatter=default
args=(sys.stdout,)

[handler_syslog]
class=handlers.SysLogHandler
level=NOTSET
formatter=detailed
args=(('localhost',handlers.SYSLOG_UDP_PORT), handlers.SysLogHandler.LOG_USER)
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
#  Formatters
#
[formatter_default]
#  format=%(asctime)s %(levelname)s: %(message)s
format=%(levelname)s: %(message)s
datefmt=

[formatter_detailed]
format=%(asctime)s %(name)s %(levelname)s: %(lineno)d - %(message)s
datefmt=

# ----------------------------------------------------------------------------
